body {
  background: #f4e8d7;
}

body:has(dialog[open]) {
  overflow: hidden
}

dialog:modal {
  max-width: 100%;
  max-height: 100%;
}

p, li {
  @apply lg:text-xl text-base
}

ol {
  list-style: decimal;
  list-style-position: inside;
}

ul {
  list-style: disc;
  list-style-position: inside;
}

h1 {
  @apply xl:text-6xl lg:text-5xl  text-3xl
}

h2 {
  @apply lg:text-5xl text-3xl
}

h3 {
  @apply lg:text-4xl text-3xl
}

h4 {
  @apply lg:text-3xl text-2xl
}

section p a, section div.markdown-content a {
  @apply text-secondary-800 underline
}

section p a:visited, section div.markdown-content a:visited {
  @apply text-secondary-900
}

section p a:hover, section div.markdown-content a:hover {
  @apply text-secondary-700
}

section p {
  @apply my-5
}