---
import Section from "@layouts/Section.astro";

import getCollectionEntries from "@helpers/collections/getCollectionEntries";
import { useTranslation } from "@i18n/useTranslation";

import type { Language } from "@i18n/languages";

interface Props {
  language: Language;
}

const { language } = Astro.props;
const t = useTranslation(language);

const documentsEntry = (await getCollectionEntries("documents", language))[0];
---

<Section title={t("section_titles.documents")}>
  <documentsEntry.Content />
</Section>
