---
import Section from "@layouts/Section.astro";
import Button from "@components/Button.astro";

import getCollectionEntries from "@helpers/collections/getCollectionEntries";
import { useTranslation } from "@i18n/useTranslation";

import type { Language } from "@i18n/languages";

interface Props {
  language: Language;
}

const { language } = Astro.props;
const t = useTranslation(language);

const supportUsEntry = (await getCollectionEntries("support-us", language))[0];
---

<Section title={t("section_titles.support_us")}>
  <supportUsEntry.Content />
  <a href={supportUsEntry.data.donateLink} target="_blank">
    <Button class="block m-auto">
      {t("support_us.button")}
    </Button>
  </a>
</Section>
