dialog:modal {
  max-width: 100%;
  max-height: 100%;
}
p {
  @apply lg:text-xl text-lg
}

h1 {
  @apply lg:text-6xl text-5xl
}

h2 {
  @apply lg:text-5xl text-4xl
}

h3 {
  @apply lg:text-4xl text-3xl
}

h4 {
  @apply lg:text-3xl text-2xl
}