---
import Button from "./Button.astro";

interface Props {
  class: string;
}

const { class: classes } = Astro.props;
---

<Button
  class:list={["w-70px rounded-full fixed right-5 bottom-5 z-10", classes]}
  as="div"
>
  <slot />
</Button>
