---
import Button from "./Button.astro";

interface Props {
  class: string;
}

const { class: classes } = Astro.props;
---

<Button
  class:list={["w-70px fixed bottom-5 right-5 z-10 rounded-full", classes]}
  as="div"
>
  <slot />
</Button>
