---
import { Image } from "astro:assets";

import { useTranslation } from "@i18n/useTranslation";
import { Languages } from "@i18n/languages";

import logoPl from "@images/logo-pl_PL.png";
import logoEn from "@images/logo-en_US.png";

import { type Language } from "@i18n/languages";

interface Props {
  language: Language;
}

const { language } = Astro.props;
const t = useTranslation(language);
---

<div class="w-full px-3 max-w-600px md:w-1/3 md:px-0">
  <Image
    src={language === Languages.PL ? logoPl : logoEn}
    alt={t("images_alt.logo")}
  />
</div>
