---
import { Image } from "astro:assets";

import { useTranslation } from "@i18n/useTranslation";

import type { LocalImageProps } from "astro:assets";
import type { Language } from "@i18n/languages";

interface Props {
  photo: LocalImageProps["src"];
  name: string;
  title: string;
  language: Language;
}

const { photo, name, title, language } = Astro.props;
const t = useTranslation(language);
---

<div class="relative flex w-full flex-col justify-between xl:flex-row">
  <div class="mb-5 w-1/2 xl:mb-0 xl:w-1/3">
    <Image
      src={photo}
      width={300}
      height={300}
      alt={t("images_alt.person_photo")}
      class="h-300px rounded-full object-cover"
    />
  </div>
  <div class="xl:w-60% w-full">
    <h3 class="mb-3 font-bold">{name}</h3>
    <h4 class="mb-5 font-bold">{title}</h4>
    <div class="text-xl">
      <slot />
    </div>
  </div>
</div>
