---
import { useTranslation } from "../i18n/useTranslation";
import { Languages } from "../i18n/languages";
import type { Language } from "../i18n/languages";
import toSlug from "../helpers/toSlug.mts";

interface Props {
  name: string;
  language: Language;
}

const { name, language } = Astro.props;
const t = useTranslation(language);
---

<div class="flex flex-row items-center justify-around">
  <div>
    <h3 class="font-bold mb-3">{name}</h3>
    <p>
      <slot />
    </p>
  </div>
  <button class="btn btn-primary">
    <a
      href={`/${language !== Languages.PL ? `${language}/` : ""}${toSlug(
        name,
      )}`}
    >
      {t("projects.button")}
    </a>
  </button>
</div>
