---
import { useTranslation } from "../i18n/useTranslation";
import type { Language } from "../i18n/languages";

interface Props {
  name: string;
  language: Language;
}

const { name, language } = Astro.props;
const t = useTranslation(language);
---

<div class="flex flex-row items-center justify-around">
  <div>
    <h3 class="font-bold mb-3">{name}</h3>
    <p>
      <slot />
    </p>
  </div>
  <button class="btn btn-primary">{t("projects.button")}</button>
</div>
