---
import Button from "./Button.astro";

interface Props {
  list: { tab: string; id: string }[];
}

const { list } = Astro.props;
---

<style is:global>
  div.tab-inactive {
    @apply opacity-0 h-0 overflow-hidden;
  }

  div.tab-active {
    @apply opacity-100 h-auto;
  }

  button.tab-active {
    @apply bg-primary-700 hover:bg-primary-600;
  }
</style>

<div data-root-tabs>
  <ul class="overflow-auto mb-15 whitespace-nowrap">
    {
      list.map(({ tab, id }) => (
        <li class="inline mr-5 last:mr-0">
          <Button data-tab-id={id}>
            <span class="text-lg">{tab}</span>
          </Button>
        </li>
      ))
    }
  </ul>
  <div class="tabs-content mt-5 overflow-hidden">
    <slot />
  </div>
</div>

<script>
  const tabsRoots = document.querySelectorAll(`[data-root-tabs]`);
  tabsRoots.forEach((rootEl) => {
    const tabsContentEl = rootEl.querySelector(".tabs-content");
    if (!tabsContentEl) return;

    const firstTabContent = tabsContentEl.children[0];
    const firstTabButton = rootEl.querySelector(
      `[data-tab-id=${firstTabContent.id}`,
    );

    firstTabButton?.classList.add("tab-active");
    firstTabContent.classList.replace("tab-inactive", "tab-active");

    rootEl.querySelectorAll(`[data-tab-id]`).forEach((tabButton) => {
      tabButton.addEventListener("click", () => {
        const activeTabButton = rootEl.querySelector("button.tab-active");
        let activeTabContent = rootEl.querySelector("div.tab-active");

        if (!activeTabContent || !activeTabButton) return;

        const selectedContentEl = document.getElementById(
          tabButton.getAttribute("data-tab-id") ?? "",
        );

        activeTabContent.classList.replace("tab-active", "tab-inactive");
        selectedContentEl?.classList.replace("tab-inactive", "tab-active");

        tabButton.classList.add("tab-active");
        activeTabButton.classList.remove("tab-active");
      });
    });
  });
</script>
