---
import { Image } from "astro:assets";
import pl from "../images/pl_icon.png";
import en from "../images/en_icon.png";
---

<div class="m-5">
  <button>
    <Image width="60" class="mr-5" src={en} alt="Zmiana języka na angielski" />
  </button>
  <button>
    <Image width="60" src={pl} alt="Zmiana języka na polski" />
  </button>
</div>
