---
import { useTranslation } from "@i18n/useTranslation";

import type { Language } from "@i18n/languages";
interface Props {
  language: Language;
}

const { language } = Astro.props;
const t = useTranslation(language);
---

<!doctype html>
<html lang={language}>
  <head>
    <link rel="canonical" href="https://rownasie.org" />
    <link rel="alternate" href="https://rownasie.org/en" hreflang="en" />
    <link rel="alternate" href="https://rownasie.org" hreflang="pl" />
    <link rel="alternate" href="https://rownasie.org" hreflang="x-default" />

    <meta charset="UTF-8" />
    <meta name="description" content={t("meta.description")} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content={t("meta.title")} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rownasie.org" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{t("meta.title")}</title>
  </head>
  <body class="font-sans">
    <slot />
  </body>
</html>
