---
import Layout from "@layouts/Layout.astro";
import Section from "@layouts/Section.astro";

import Header from "./Header.astro";
import Footer from "./Footer.astro";

import { useTranslation } from "../i18n/useTranslation";

import "@styles/index.css";

const { frontmatter, file } = Astro.props;
const language = file.split("/").at(-2);
const t = useTranslation(language);

import "@styles/index.css";
---

<style is:global>
  p {
    @apply mb-5;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply my-5;
  }

  footer p {
    @apply m-0;
  }
</style>
<Layout language={language}>
  <Header language={language}>
    <a href="/" class="flex items-center text-white" slot="toolbar">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="50"
        viewBox="0 -960 960 960"
        width="50"
        ><path
          d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"
          fill="currentcolor"></path></svg
      >
      <p class="m-0 ml-5 font-bold">{t("header.back")}</p>
    </a>
  </Header>

  <Section title={frontmatter.name} full>
    <slot />
  </Section>

  <Footer language={language} />
</Layout>
