---
import toSlug from "@helpers/toSlug";

interface Props {
  title: string;
  full?: boolean;
}

const { title, full } = Astro.props;
---

<section
  class:list={[
    "pb-25 pt-5",
    { "xl:w-6/10 float-right w-full px-5": !full },
    { "xl:w-9/10 w-full px-20": full },
  ]}
  data-section-slug={toSlug(title)}
  id={toSlug(title)}
>
  <div class="border-secondary border-t-12 inline-block">
    <h2 class="mb-10 mt-7 font-bold">
      {title}
    </h2>
  </div>
  <div class="w-full">
    <slot />
  </div>
</section>
