---
import toSlug from "../helpers/toSlug.mts";
interface Props {
  title: string;
  full?: boolean;
}

const { title, full } = Astro.props;
console.log("ff", full, !full);
---

<section
  class:list={[
    "pt-5 pb-25",
    { "px-5 float-right lg:w-6/10 w-full": !full },
    { "px-20 lg:w-9/10 w-full": full },
  ]}
  data-section-slug={toSlug(title)}
  id={toSlug(title)}
>
  <div class="inline-block border-secondary border-t-12">
    <h2 class="mt-7 mb-10 font-bold">
      {title}
    </h2>
  </div>
  <div class="w-full">
    <slot />
  </div>
</section>
