---
import toSlug from "../helpers/toSlug.mts";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section
  class="float-right lg:w-6/10 w-full pt-5 pb-25 px-5"
  data-section-slug={toSlug(title)}
  id={toSlug(title)}
>
  <div class="inline-block border-secondary border-t-12">
    <h2 class="mt-7 mb-10 font-bold">
      {title}
    </h2>
  </div>
  <div class="w-full lg:w-9/10">
    <slot />
  </div>
</section>
