---
import Button from "@components/Button.astro";
import { useTranslation } from "@i18n/useTranslation";

import type { Language } from "@i18n/languages";

interface Props {
  name: string;
  href: string;
  language: Language;
}

const { name, href, language } = Astro.props;
const t = useTranslation(language);
---

<div class="flex flex-row items-center justify-between">
  <div>
    <h3 class="mb-3 font-bold">{name}</h3>
    <p class="m-0">
      <slot />
    </p>
  </div>
  <a href={href}>
    <Button>
      {t("projects.button")}
    </Button>
  </a>
</div>
